.container {
    margin-top: 50px;
}

footer .container {
    margin-top: 0;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    border-top: 2px solid #f5f5ff;
    text-align: center;
}

#header {
    background-color: rgb(68, 63, 73);
    width: 100%;
    height: 200px;

}